tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;
	border:none;
	mso-protection:locked visible;
	mso-style-name:標準;
	mso-style-id:0;}
.font7
	{color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;}
.font9
	{color:windowtext;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	vertical-align:top;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	color:windowtext;}
.xl72
	{mso-style-parent:style0;
	text-align:right;}
.xl73
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid windowtext;}
.xl74
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl75
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;}
.xl77
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	vertical-align:top;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:#BDD7EE;
	mso-pattern:#99CCFF none;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#DEEBF7;
	mso-pattern:#CCFFFF none;}
.xl86
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:#99CCFF none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl88
	{mso-style-parent:style0;
	font-size:9.0pt;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	text-align:left;
	border:.5pt solid windowtext;
	background:#B8CCE4;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl91
	{mso-style-parent:style0;
	text-align:left;
	border:.5pt solid windowtext;}
.xl92
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl93
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:#BDD7EE;
	mso-pattern:#99CCFF none;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	text-align:left;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl96
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:#99CCFF none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:#99CCFF none;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
